.search-bar {
  margin-right: 5px;
  padding-top: 5px;
  position: absolute;
  right: 10%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

a:link {
  color: #000;
  text-decoration-style: none;
  text-decoration-color: none;
  text-decoration: none;
}
